YouTubeUploader.code-workspace
client_secret_408785723675-dcjigefun2oekopq2s4fnc9qvl1eb7d6.apps.googleusercontent.com.json
Uploader/bin/**
Uploader/obj/**
Uploader/secret.txt
package.json
release-it.json
